@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-color: #f6f7fb;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.label{
    display: inline-block;
    border: 4px solid rgb(163, 152, 152);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(163, 152, 152);
    padding: 10px 15px;
    margin: 0;
}
.connecter{
    display: inline-block;
    margin: 0 -5px;
    width: 70px;
    height: 8px;
    background-color: rgb(163, 152, 152);
}
button{
    cursor: pointer;
    margin-top: 30px;
    margin-right: 10px;
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: ease-in 0.3s;
}
button:active{
    transform: scale(1.1);
}
.progress{
    transition-duration: 0.5s;
    transition-delay: 0.6s;
    border-color: dodgerblue;
}
.disabled{
    background-color: rgb(163, 152, 152);
    cursor: not-allowed;
}
.disabled:active{
    transform: scale(1);
}
.progress-bar{
    background-color: dodgerblue;
    height: 8px;
    animation-name: animateProgress;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes animateProgress {
    0% {
        width: 0px;
        height: 8px;
        background-color: dodgerblue;
    } 100% {
        width: 70px;
    }
}
